<table class="table table-hover" style="border: solid black 1px">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Price(DKK)</th>
    <th scope="col">Available</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td (click)="edit(product)">{{product.name}}</td>
    <td (click)="edit(product)">{{product.price}}</td>
    <td (click)="edit(product)">{{product.available}}</td>
    <td><button (click)="remove(product.id)">X</button></td>
  </tr>
  </tbody>
</table>
<button routerLink="/create-product">Add</button>
