<h1 style=" width: fit-content; margin: 10px auto 10px auto">Login</h1>
<div class="form">
  <div class="form-group" >
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button  class="btn btn-primary" id="logInButton" (click)="login()">Log in</button><br><br><button class="btn btn-primary" routerLink="newAccount">Register</button>
</div>
