<h1 style=" width: fit-content; margin: 50px auto 10px auto">Reset password</h1>
<div class="form">
  <div class="form-group" >
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
  </div>

  <div style="text-align: center">
    <button  class="btn btn-primary centerItem" id="logInButton" (click)="sendCode()"> Send</button>
    <br><br><button class="btn btn-light centerItem" routerLink="">Back</button>
  </div>
</div>
